@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		padding-right: 40px;
	}	
	.event-list > li > .info > .title-content , 
	.event-list > li > .info > .price,
	.event-list > li > .info > .date{
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
}

.small-event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.small-event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 10px;
}

.small-event-list > li > img {
	width: 100%;
	height: 50%;
	min-height: 160px;
}
.small-event-list > li > .info {
	padding: 5px 5px 5px 5px;
	margin: 0 auto;
	text-align: left;
	min-height: 140px;
}
.small-event-list > li > .info > .title-content {
	font-size: 11pt;
	font-weight: 600;
	margin: 0px;
	text-align: left;
	font-family: 'Dosis', sans-serif;
}
.small-event-list > li > .info > .price {
	font-size: 10pt;
	font-weight: 300;
	margin: 0;
	text-align: center;
}

.small-event-list > li > .info > .date {
	font-size: 10pt;
	font-weight: 300;
	margin-top: 1%;
	text-align: center;
}

.small-event-list > li > .info > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

.small-event-list > li > .info > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.small-event-list > li > .info > ul > li > a {
display: block;
width: 100%;
color: rgb(30, 30, 30);
text-decoration: none;
} 

.aditional-info:hover { box-shadow: 0px 4px 10px 1px rgba(184, 178, 184, 1); }

.itemOptions {background: rgba(0, 0, 0, .6); display: none; width: 86.4%;}

.aditional-info:hover .itemOptions { display: inherit; position: absolute; top: 45%;}

.popular-title { 
	font-size: 16pt; 
	font-family: 'Roboto Condensed', sans-serif; 
	padding: 1% 0 1% 1.5%; 
	color: #fff;
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.92) 12%, rgba(0,0,0,0.84) 25%, rgba(0,0,0,0.84) 26%, rgba(0,0,0,0.75) 39%, rgba(0,0,0,0.69) 50%, rgba(0,0,0,0.68) 51%, rgba(0,0,0,0.62) 60%, rgba(0,0,0,0.52) 76%, rgba(0,0,0,0.51) 78%, rgba(0,0,0,0.43) 91%, rgba(0,0,0,0.37) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.pagination > li > a, .pagination > li >span { border-radius: 50%; margin: 0 10px; font-size: 12pt; }
