<!DOCTYPE html>
<html ng-app="userApp" >
    <head>
        <title>
            Cupones y promociones
        </title>
        <base href="/">
      
        <script src="https://code.angularjs.org/1.6.4/angular.js">
        </script>
        
        <script src="https://code.angularjs.org/1.6.4/angular-route.min.js">
        </script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <link href="JQUERY/angular-route.min.js" rel="stylesheet" type="text/javascript">
            <link href="JQUERY/slider.js" rel="stylesheet" type="text/javascript">
                <link href="css/menu.css" rel="stylesheet" type="text/css">
                    <link href="css/aside.css" rel="stylesheet" type="text/css">
                        <!--<link rel="stylesheet" type="text/css" href="css/listing.css">-->
                        <link href="css/footer.css" rel="stylesheet" type="text/css">
                            <link href="css/slider.css" rel="stylesheet" type="text/css">
                                <link href="css/mainContent.css" rel="stylesheet" type="text/css">
                                    <link href="css/modal.css" rel="stylesheet" type="text/css">
                                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
                                            <link href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css" rel="stylesheet">
                                                <!-- Latest compiled and minified CSS -->
                                                <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
                                                    <!-- Optional theme -->
                                                    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
                                                    </link>
                                                </link>
                                            </link>
                                        </link>
                                    </link>
                                </link>
                            </link>
                        </link>
                    </link>
                </link>
            </link>
        </link>
     
    </head>
    <body id="body" ng-controller="loginCtrl as log">
        <header ng-include="'views/pages/header.html'" ng-controller="regCtrl as register">
        </header>
        
        <div ng-view></div>
        
        <footer ng-include="'views/pages/footer.html'">
        </footer>
        <div ng-include="'views/pages/copyright.html'">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <script src="views/app.js">
        </script>
        <script src="views/routes.js">
        </script>
        <script src="angular/mainCtrl.js">
        </script>
        <script src="servicios/authServicios.js"></script>
        
        <script src="angular/loginCtrl.js"></script>
        <script src="angular/userCtrl.js"></script>
        <script>
            // desplegar el file upload
            $(function(){
                $('#click').click(function() {
                    $('#upload').click();
                });
            });
        </script>
    </body>
</html>