<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>
                © 2017 - Derechos Reservados  Ofertas JSA
            </p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contáctenos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>