<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 footer-col">
            <div class="logofooter">
                <a href="/">
                    <img class="logo" src="imagenes/Logo_VerdeClaro.png"/>
                </a>
            </div>
            <p>
                Ofertas JSA nace en el 2010 con el objetivo principal de brindar excelencia y calidad en productos y servicios, para llegar a ser el punto de referencia en el mercado.
            </p>
            <p>
                <i class="fa fa-map-pin">
                </i>
                Santa Clara, Florencia Costa Rica
            </p>
            <p>
                <i class="fa fa-phone">
                </i>
                Teléfono (Costa Rica) : +506 2255 0000
            </p>
            <p>
                <i class="fa fa-envelope">
                </i>
                E-mail : info@ofertasjsa.com
            </p>
        </div>
        <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading">
                Sobre Ofertas JSA
            </h6>
            <ul class="footer-ul">
                <li>
                    <a href="#">
                        Acerca de JSA
                    </a>
                </li>
                <li>
                    <a href="#">
                        ¿Cómo funciona?
                    </a>
                </li>
                <li>
                    <a href="#">
                        Políticas de Privacidad
                    </a>
                </li>
                <li>
                    <a href="#">
                        Términos y Condicines
                    </a>
                </li>
                <li>
                    <a href="#">
                        Preguntas Frecuentes
                    </a>
                </li>
                <li>
                    <a href="#">
                        Ayuda
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading">
                Buscar por Categoría
            </h6>
            <ul class="footer-ul">
                <li>
                    <a href="#">
                        Más popular
                    </a>
                </li>
                <li>
                    <a href="#">
                        Producto
                    </a>
                </li>
                <li>
                    <a href="#">
                        Promoción
                    </a>
                </li>
                <li>
                    <a href="#">
                        Más barato
                    </a>
                </li>
                <li>
                    <a href="#">
                        Más caro
                    </a>
                </li>
                <li>
                    <a href="#">
                        Al por menor
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading">
                Síguenos
            </h6>
            <ul class="footer-social">
                <li>
                    <a href="#">
                        <img class="social-buttons-footer" src="imagenes/Facebook.png"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-buttons-footer" src="imagenes/Twitter.png"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-buttons-footer" src="imagenes/Google.png"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-buttons-footer" src="imagenes/Youtube.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col" style="height: 15px;">
        </div>
    </div>
</div>