<div class="container">
    <div class="row" style="margin-top: 7%;">
        <!--content row-->
        <div class="col col-md-9">
            <div id="first-slider">
                <div class="carousel slide carousel-fade" id="carousel-example-generic">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-example-generic">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-example-generic">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-example-generic">
                        </li>
                        <li data-slide-to="3" data-target="#carousel-example-generic">
                        </li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- item 1 -->
                        <div class="item active slide1">
                            <div class="row align-items-end">
                                <div class="col-md-12" style="background: rgba(5, 4, 4, 0.5);">
                                    <h3 data-animation="animated bounceInDown">
                                        Hotel Mountain Paradise
                                    </h3>
                                    <h4 data-animation="animated bounceInUp">
                                        El Hotel Mountain Paradise cuenta con piscina al aire libre, spa y terrazas en medio de jardines. También ofrece conexión Wi-Fi gratuita en las zonas comunes y sirve un desayuno buffet o a la carta gratuito.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- item 2 -->
                        <div class="item slide2">
                            <div class="row align-items-end">
                                <div class="col-md-12" style="background: rgba(5, 4, 4, 0.4);">
                                    <h3 data-animation="animated bounceInDown">
                                        Montaña de Fuego Resort & Spa
                                    </h3>
                                    <h4 data-animation="animated bounceInUp">
                                        El Montana de Fuego Resort & Spa ofrece un alojamiento de lujo entre bonitos jardines y lagos y goza de magníficas vistas al volcán Arenal, situado a 8 km. Este impresionante establecimiento alberga piscinas cubiertas y exteriores, una piscina para niños y su propio parque de aventura. Además, hay conexión WiFi gratuita en el vestíbulo y en el restaurante.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- item 3 -->
                        <div class="item slide3">
                            <div class="row align-items-end">
                                <div class="col-md-12" style="background: rgba(5, 4, 4, 0.4);">
                                    <h3 data-animation="animated bounceInDown">
                                        Lost Iguana Resort and Spa
                                    </h3>
                                    <h4 data-animation="animated bounceInUp">
                                        El Lost Iguana Resort and Spa cuenta con piscina al aire libre, gimnasio y exuberantes jardines con un laberinto. Las habitaciones tienen vistas al volcán Arenal, situado a solo 25 minutos en coche.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- item 4 -->
                        <div class="item slide4">
                            <div class="row align-items-end">
                                <div class="col-md-12" style="background: rgba(5, 4, 4, 0.4);">
                                    <h3 data-animation="animated bounceInDown">
                                        Arenal Hostel Resort
                                    </h3>
                                    <h4 data-animation="animated bounceInUp">
                                        El Arenal Hostel Resort se encuentra en Costa Rica, en el pueblo de La Fortuna. Ofrece vistas al volcán Arenal, una piscina al aire libre y un jardín con hamacas y tumbonas.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end item 4 -->
                    </div>
                    <!-- end wrapper for slides-->
                    <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic" role="button">
                        <i class="fa fa-angle-left">
                        </i>
                        <span class="sr-only">
                            Previous
                        </span>
                    </a>
                    <a class="right carousel-control" data-slide="next" href="#carousel-example-generic" role="button">
                        <i class="fa fa-angle-right">
                        </i>
                        <span class="sr-only">
                            Next
                        </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="popular-title">
                        Cupones más buscados
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="height: 15px;">
                </div>
            </div>
            <div class="row" ng-controller="mainTiticuponTopCtrl">
                <div class="col col-md-3" ng-repeat="post in posts">
                    <div class="aditional-info">
                        <ul class="small-event-list">
                            <li>
                            
                                <img ng-src="{{post.imagen}}">
                                    <div class="info">
                                        <div style="min-height: 76px;">
                                            <a class="title-content" data-target="#item-info" data-toggle="modal" href="#" style="color: #208000; font-weight: 600;">
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                        <p class="price">
                                            {{post.precio}}
                                        </p>
                                        <p class="date">
                                            Finaliza el {{post.fechaVencimiento}}
                                        </p>
                                        <p>
                                        </p>
                                    </div>
                                    <!-- model para ver los detalles del oferta -->
                                    <div class="modal fade" id="item-info" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-offer">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">
                                                        ×
                                                    </button>
                                                    <div class="row">
                                                        <div class="col col-md-12">
                                                            <h4 class="modal-title">
                                                                {{post.titulo}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-body" id="offer">
                                                    <div class="row">
                                                        <div class="col col-md-8">
                                                            <div>
                                                                <img src="{{post.imagen}}">
                                                                </img>
                                                            </div>
                                                        </div>
                                                        <div class="visible-md visible-lg col col-md-4">
                                                            <div class="offer-info">
                                                                <br>
                                                                    <div>
                                                                        <h3 class="new-price">
                                                                            Precio Actual
                                                                        </h3>
                                                                        <h4 class="old-price">
                                                                            Precio Anterior
                                                                        </h4>
                                                                        <hr style="color: #000;">
                                                                        </hr>
                                                                    </div>
                                                                    <br>
                                                                        <div class="offer-options">
                                                                            <button class="buy" data-dismiss="modal" style="min-width: 160px; margin-bottom: 8%;" type="button">
                                                                                Comprar
                                                                            </button>
                                                                            <button class="gift" data-dismiss="modal" style="min-width: 160px;" type="button">
                                                                                Regalar a un amigo
                                                                            </button>
                                                                        </div>
                                                                        <br>
                                                                            <hr style="color: #000;">
                                                                                <div>
                                                                                    <h3 class="times-sold">
                                                                                        Vendidos
                                                                                    </h3>
                                                                                    <h4 class="offer-end">
                                                                                        La oferta termina {{post.fechaVencimiento}}
                                                                                    </h4>
                                                                                </div>
                                                                                <br>
                                                                                </br>
                                                                            </hr>
                                                                        </br>
                                                                    </br>
                                                                </br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </img>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="popular-title">
                        Promociones más buscadas
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="height: 15px;">
                </div>
            </div>
            <div class="row" ng-controller="mainYuplonTopCtrl">
                <div class="col col-md-3" ng-repeat="post in posts">
                    <div class="aditional-info">
                        <ul class="small-event-list">
                            <li>
                                 <img ng-src="{{post.imagen}}">
                                    <div class="info">
                                        <div style="min-height: 76px;">
                                            <a class="title-content" data-target="#item-info" data-toggle="modal" href="#" style="color: #208000; font-weight: 600;">
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                        <p class="price">
                                            {{post.precio}}
                                        </p>
                                        <p class="date">
                                            Finaliza el {{post.fechaVencimiento}}
                                        </p>
                                        <p>
                                        </p>
                                    </div>
                                </img>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="height: 15px;">
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <aside class="visible-md visible-lg container-fluid" id="aside-container">
                <div class="row">
                    <h4 class="aside-title">
                        Novedades
                    </h4>
                    <div class="lastest">
                        <img src="imagenes/rotan_ajust_1.jpg">
                        </img>
                    </div>
                </div>
                <div class="row" id="news">
                    <li data-target="#new-one" data-toggle="collapse" id="category">
                        <span class="glyphicon glyphicon-chevron-right">
                        </span>
                        <a class="info-news" href="#">
                            ¡Disfruta con comida japonesa de Hanabi! Pagá ₡3000 y consumí ₡6000.
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="new-one">
                        <li class="lastest">
                            <img src="imagenes/Alimentación.jpg"/>
                        </li>
                    </ul>
                    <li data-target="#new-two" data-toggle="collapse" id="category">
                        <span class="glyphicon glyphicon-chevron-right">
                        </span>
                        <a class="info-news" href="#">
                            ¡Mirada de ensueño! Extensiones de pestañas a prueba de agua por ₡12.500.
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="new-two">
                        <li class="lastest">
                            <img src="imagenes/Belleza.jpg"/>
                        </li>
                    </ul>
                    <li data-target="#new-three" data-toggle="collapse" id="category">
                        <span class="glyphicon glyphicon-chevron-right">
                        </span>
                        <a class="info-news" href="#">
                            Grandioso tour Spider Monkey Canyon de varias actividades a mitad de precio.
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="new-three">
                        <li class="lastest">
                            <img src="imagenes/Turismo.jpg"/>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="visible-md visible-lg container-fluid">
                <div class="row">
                    <div class="announces-container">
                        <img class="announce" src="imagenes/Anuncio Uno.jpg">
                            <img class="announce" src="imagenes/Anuncio Dos.jpg">
                            </img>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end content row-->
</div>